/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root{
  width: 100vw;
  height: 100vh;
} */

html,
body {
    font-size: 16px;
    align-items: baseline;
    align-content: baseline;
    align-self: baseline;
}

#root {
    min-width: min-content;
}

@layer utilities {
    @variants responsive {
        .session-card {
            width: 600px;
        }
        .kattay {
            width: 562px;
            height: 2px;
            background-color: #ececec;
        }
        .kattay-mobile {
            height: 2px;
            background-color: #ececec;
        }
    }
}

@layer components {
    @responsive {
        .text-shadow {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
        }
        .text-shadow-md {
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
        }
        .text-shadow-lg {
            text-shadow: 0 16px 15px rgba(0, 0, 0, 0.12), 0 5px 15px rgba(0, 0, 0, 0.08);
        }
        .text-shadow-none {
            text-shadow: none;
        }
        .text-shadow-hover:hover {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
        }
        .text-shadow-md-hover:hover {
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
        }
        .text-shadow-lg-hover:hover {
            text-shadow: 0 16px 15px rgba(0, 0, 0, 0.12), 0 5px 15px rgba(0, 0, 0, 0.08);
        }
        .text-shadow-none-hover:hover {
            text-shadow: none;
        }
    }
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
}

html {
    scrollbar-width: none;
}


/**
For devices with the notch in the iphone and other such devices with top and bottom notch
**/

@media only screen and (hover: none) and (orientation: landscape) {
    html {
        --base-safe-padding-left: 25px;
        --base-safe-padding-right: 25px;
    }
    .safeShrink-left {
        padding-left: calc(env(safe-area-inset-left) + var(--base-safe-padding-left));
    }
    .safeShrink-right {
        padding-right: calc(env(safe-area-inset-right) + var(--base-safe-padding-left));
    }
    .safeShrink-top {
        padding-top: env(safe-area-inset-top);
    }
    .safeShrink-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

.sans-medium {
    font-family: FedraSansStd-Medium, sans-serif;
}

@font-face {
    font-family: 'FedraSansStd-Medium';
    src: local('FedraSansStd-Medium'), url(../assets/fonts/FedraSansStd-Medium.otf) format('truetype');
}

iframe {
    pointer-events: none;
}

.ios iframe {
    pointer-events: unset;
}
